/*   Menu & Header */
.kaamHeader {
    background-color: #ECE8E5;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD5D0;
    margin-bottom: 25px;
}
.kaamUserMenu h2{
    display: none;
}
.kaamHeader ul {
    list-style-type: none !important;
    float: right;
    margin:0;
    padding:0;
    margin-top: -25px;
}
.kaamHeader ul li{
    display: inline;
    padding: 10px;
}
.kaamHeader h1 {
    margin:0;
    padding:0;
    padding-top: 15px;
}
.kaamHeader h1, .kaamHeader ul li a{
    color: #323232;
}
.kaamHeader ul li a:hover{
    text-decoration: none;
    color: #000;
}

/*  Footer  */
.kaamFooter {
    background-color: #ECE8E5;
    border-top: 1px solid #DDD5D0;
    margin-bottom: 0;
}
.kaamFooter p {
    text-align: center;
    padding: 10px;
    color: #323232;
}
