/*   Menu & Header */
.kaamHeader {
    background-color: #ECE8E5;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDD5D0;
    margin-bottom: 25px;
}
.kaamUserMenu h2{
    display: none;
}
.kaamHeader ul {
    list-style-type: none !important;
    float: right;
    margin:0;
    padding:0;
    margin-top: -25px;
}
.kaamHeader ul li{
    display: inline;
    padding-right: 15px;
}
.kaamHeader ul li:last-of-type {
    padding-right: 0;
}
.kaamHeader h1 {
    margin:0;
    padding:0;
    padding-top: 15px;
}
.kaamHeader h1:hover {
    text-decoration: none !important;
    color: #000;
}
.kaamHeader h1, .kaamHeader ul li a{
    color: #323232;
}
.kaamHeader ul li a:hover {
    text-decoration: none;
    color: #000;
}

/*   Footer   */
.kaamFooter {
    background-color: #ECE8E5;
    border-top: 1px solid #DDD5D0;
    margin-bottom: 0;
    margin-top: 40px;
}
.kaamFooter p {
    text-align: center;
    padding: 10px;
    color: #323232;
}

/*   Products   */
.kaamEachItem {
    text-align: center;
    margin-bottom: 15px;
}
.kaamEachItem h2 {
    font-size: 22px;
    padding-top: 10px;
}
.kaamEachItem h2 a {
    color: #323232;
}
.kaamEachItem h2 a:hover {
    color: #000;
    text-decoration: none;
    pointer: cursor;
}
.kaamEachItem .node-readmore {
    display: none;
}
.kaamEachItem img {
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px #b3b3b3;
}
.kaamEachItem .form-submit {
    width: 50%;
    background-color: #fff;
}
.kaamEachItem .form-submit:hover {
    background-color: #f2f2f2;
}
/*Price beneath images*/
.kaamEachItem div.field.field-name-commerce-price.field-type-commerce-price.field-label-hidden {
    font-size: 16px;
    margin-bottom: 5px;
    color: red;
}
/*.kaamEachItem .views-field-commerce-price{
    color: red;
    padding-bottom: 5px;
}
  .kaamEachItem .views-field-title {
  font-size: 22px;
  padding-top: 10px;
}*/
